/* Stylizacja podstawowa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Styl kafelków */
.card {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* Lista produktów */
ul {
    list-style: none;
    margin: 20px 0;
}

li {
    padding: 10px;
    background-color: #ececec;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Przycisk */
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3b3b3b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Style responsywne */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .card {
        width: 80%;
        margin: 10px 0;
    }
    #inventoryForm {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 1rem;
    }
}
